.surah__list__day {
    background-image: url("../../assets/images/Weather\ App\ Background\ Image\ Free\ day.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    height: 30%;
}

.surah__list__evening {
    background-image: url("../../assets/images/Weather\ App\ Background\ Image\ Free\ night.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    height: 30%;
}