html {
    scroll-behavior: smooth;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #fff;
    background-image: url("../../assets/images/bgi.png");
    background-repeat: no-repeat;
    background-size: cover;






}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}



main {
    flex-grow: 1;
    

}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.dates {
    text-align: start;
    font-weight: 600;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;

}

.city {
    font-weight: 600;
    text-align: end;
    color: teal;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;

}



.main__img {
    width: 100%;
    max-width: 326px;
    height: 161px;
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    background-image: url("../../assets//images//mosque.svg"), linear-gradient(107deg, rgba(13, 198, 179, 0.763) 8.1%, rgba(33, 198, 137, 0.966) 79.5%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    text-align: center;
    padding: 25px;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}



a {
    -webkit-tap-highlight-color: transparent;
    /* remove tap highlight */
}

button {
    -webkit-tap-highlight-color: transparent;
}

.header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;

}

.taqvim__list {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    max-width: 300px;
    gap: 10px;
    background-color: #ffffff;


}

p {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

.taqvim__item {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 10px;
    border-radius: 16px;
    border: 1px dotted #03AA77;

}














/* .taqvim__item:nth-child(2) {
    background-image: url("../../assets/images/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(3) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.taqvim__item:nth-child(4) {
    background-image: url("../../assets/images/3.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;


}

.taqvim__item:nth-child(5) {
    background-image: url("../../assets/images/4.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

} */

/* .taqvim__item:nth-child(6) {
    background-image: url("../../assets/images/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position: bottom;

} */

.taqvim__item__text {

    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.taqvim__item__text__time {

    font-size: 22px;
    font-weight: 600;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;



}