@font-face {
    font-family: 'digitalkhatt2';
    /* Replace with your desired font name */
    src: url('../../assets/fonts/digitalkhatt2.otf') format('opentype');
    /* Replace with the URL to your OTF font file */

}

@font-face {
    font-family: 'noorehidayat';
    src: url('../../assets//fonts/noorehidayat.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'digitalkhatt2', sans-serif;
    /* Replace with your desired font name */
}

.quran {
    background: linear-gradient(107deg, rgba(33, 198, 137, 0.66) 79.5%, rgba(33, 198, 137, 0.591) 79.5%);
    padding-top: 100px;
    overflow: hidden;
}

.card {

    margin: 0 auto;
    color: #1b1b1b;
    width: 280px;
    height: 329px;
    position: relative;
    outline: 1px solid #f5f5f5;
    border-radius: 30px;
    line-height: 150%;
    padding: 16px;
    background: transparent;
    background-blend-mode: multiply;
    transition: background-color 1s ease-in-out;
    overflow: hidden;
    margin-top: 110px;
    overflow: hidden;
    margin-bottom: 18px;
}

.ayah {
    font-size: 24px;
    font-family: 'digitalkhatt2', sans-serif;
    line-height: 45px;
}

.uz_sodik {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}

.card-front {
    padding: 20px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);


}

.card-back {
    padding: 10px;
    margin: 0 auto;
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    overflow: auto;

}

.card-back p {
    text-align: justify;
}


/*Text*/
.title {
    font-size: 1.3rem;
    font-weight: bold;
}

/*Text divider*/
.title::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 2px;
    margin: 2px auto;
    background-color: #1b1b1b;
}


/*Hover*/
.card:hover {}

.card:hover .card-front {
    transform: translateX(-100%);
}

.card:hover .card-back {
    transform: translateX(0);
}

.random__button {

    margin: 0 auto;
    text-align: center;
}

.contactButton {
    background: teal;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em teal;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
    margin: 0 auto;
}

.iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em teal;
    right: 0.3em;
    transition: all 0.3s;
}



.contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em teal;
}

.contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em teal;
}

.main__quran {
    width: 100%;
    max-width: 326px;
    height: 130px;
    margin: 30px auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    background-image: url("../../assets//images//quran2.svg"), linear-gradient(135deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    text-align: center;
    padding: 25px;

}

.main__quran__uz {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.main__quran__ar {
    font-size: 24px;
    font-family: 'digitalkhatt2', sans-serif;
    color: #fff;
}

.quran__wrapper {
    background-color: transparent;
}



.quran__list {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.906);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    overflow: auto;
    padding-bottom: 220px;


}

.quran__img {
    width: 98%;
    height: 170px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 40px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
    background-image: url("../../assets/images/quran4.png");
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: right calc(60px);
}

.quran__img__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #111;
    margin-bottom: 4px;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quran__img__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #111;
    margin-bottom: 4px;

}

.quran__item__link {
    text-decoration: none;
    width: 100%;

}

.quran__item {
    display: flex;
    align-items: center;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 13px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px 0px;
    margin: 0 auto;

}

.surah__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-justify: center;
    /* identical to box height */
    text-align: center;
    margin-right: 10px;
    position: relative;
    color: #333;
}

.surah__number::before {
    position: absolute;
    content: "";
    background-image: url("../../assets//icons/8burchak.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
}

.surah__name__en {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #333;
}

.surah__rel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-transform: uppercase;

    color: #8789A3;
}

.surah__name {
    font-family: 'digitalkhatt2', sans-serif;

    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: right;
    background: linear-gradient(107deg, rgb(13, 198, 180) 8.1%, rgb(33, 198, 138) 79.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}